@@include('./includes/_header.html', {
"title": "About"
})
<div class="container" data-ng-controller="Main as mn">
    <div class="row logo align-items-center">
        <div class="col-2"><div><img src="/build/img/logo.png" width="100%" alt="logo"></div></div>
        <div class="col-10 text-center"><h1>{{mn.name}}</h1></div>
    </div>
    <div class="row">
        @@include('./includes/_topmenu.html')
    </div>
    <div class="row">
        <div class="col-2">
            @@include('./includes/_leftmenu.html')
        </div>
        <div class="col-10">
            <h1>About</h1>
        </div>
        <div class="col-12">
            @@include('./includes/_bottommenu.html')
        </div>
    </div>
</div>
@@include('./includes/_footer.html')
